$button-color: rgb(214, 214, 214);
$web_button_size: 40px;
$primary-font: "Calibri";
$primary-cursive: "Calibri", cursive;
$title-weight: 800;
$title-size-large: 1200%; // Updated to last defined value
$color-shadow: #ffffff;
$spotify-color: rgb(30, 215, 96);
$background-color: white;
$text-color: black;