@import "./variables.module";

.container{
  background-color: $background-color;
  height: 100vh;
  font-weight: 100vw;
  display: flex;
  flex-direction: column;
  color: $text-color;
  font-family: sans-serif;

  .title {
    color: $text-color;
    font-weight: $title-weight;
  }

  .panel_list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    .panel{
      display: inline-block;
      width: 30%;
      background-color: white;
      border-style: solid;
      border-color: red;
    }
    
  }
}

