@import "./variables.module";
.container {
  background-color: $color-background;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Ensure the container takes at least the full height of the viewport
  width: 100vw;
  .title {
    color: $color-primary;
    font-weight: 5rem; // Corrected to use $title-weight
    font-size: 3rem;
    font-family: $primary-cursive; // Corrected to use $primary-font
    animation: titleFadeInFromLeft 2s ease-out forwards;
    text-align: center;
  }
  @keyframes titleFadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .score {
    color: white;
    font-size: 2rem;
    width: 75%;
    text-align: center; /* Horizontally centers the text */
    display: flex;
    justify-content: center; /* Horizontally centers the container's content */
    align-items: center; /* Vertically centers the container's content */
    margin-top: -1rem;
  }
  .title_question {
    margin-top: -1.5rem;
    color: white;
    font-size: 2rem;
    text-align: center; /* Horizontally centers the text */
    justify-content: center;
  }
  .track_selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .parentOfSong {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .image {
        width: auto;
        justify-self: end;
        height: 15rem;
      }
      .track_names {
        color: white;
        font-size: 1rem;
        text-align: center;
        height: 5rem;
        width: 12rem;
      }
    }
  }
}
.track_player {
  display: block; // Ensures the element is a block-level element
  margin-left: auto; // Automatically adjusts the left margin
  margin-right: auto; // Automatically adjusts the right margin
  width: fit-content; // Adjusts the width to fit its content
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .container {
    .game_button {
      font-size: 200%;
      padding: 10px 10px 20px 10px;
    }
    .track_selectors {
      .parentOfSong {
        .image {
          width: 80%;
          justify-self: end;
          height: auto;
          border-radius: 10%; /* Optional: if you want rounded corners */
          box-shadow: 0 0 4px 4px white;
        }
        .track_names {
          color: white;
          font-size: 1rem;
          text-align: center;
          height: 5rem;
          width: 5rem;
        }
      }
    }
  }
}
