@import "./variables.module";



.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0; // Remove default margins
  padding: 0; // Remove default paddings
  overflow: hidden; // Hide overflow to prevent scrollbars
  background-color: $background-color;
  font-family: sans-serif;
  
  h1{
    font-family: sans-serif;
    color: rgb(251, 236, 216);
  }

  .image_grid {
    display: grid;
    grid-template-columns: repeat(6, 11vw); // 6 columns
    gap: 1vw; // Adjust the space between grid items as needed
    justify-content: center;
    max-width: 100vw;
    height: 28vh;
    padding: 0;
    margin: 0;

    .grid_item {
        height: 20%;
        width: 90%; // Each item takes the full width of its cell
        padding-top: 100%; // Aspect ratio hack (adjust height here)
        position: relative;

        img {
            position: absolute;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: scale-down; // Adjust how images fit within the container
            top: 0;
            left: 0;
            cursor: pointer;
            transition: transform ease-out 0.3s;
        }

        img:hover { transform: scale(0.95); }

        p{
            margin-top: 0;
            font-family: sans-serif;
            font-size: larger;
            font-weight: bold;
            color: rgb(251, 236, 216);
        }

        
    }
    
  }
}



.modal{
  width: 74vw;
  height: 84vh;
  background-color: $text-color;
  display: flex;

  .artistInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 4vh;

    h1{
      font-size: xxx-large;
      margin-top: 5vh;
      margin-left: 0vw;
      font-family: sans-serif;
      color: $background-color;
    }

    img{
      transition: transform ease-out 0.3s;
    }
    img:hover { transform: scale(1.08); }

    .card_image{
      margin-top: 3vh;
      margin-left: 0vw;
      height: 45vh;
      width: auto;
    }
  }

  .songList{
    position: absolute;
    top: 0; // Align to the top of the .modal
    right: 0; // Align to the right of the .modal
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 3.5vh;
    width: 40%;
    

    word-wrap: break-word; // This ensures that long words will break and wrap onto the next line
    max-width: 100%; // This restricts the width of the title to the width of its container

    .trackItem {
      display: flex;
      align-items: center;
      margin-bottom: 1vh; // Space between track items
    
      img{
        transition: transform ease-out 0.3s;
      }
      img:hover { transform: scale(1.15); }

      .albumArt {
        width: 7vw; // Adjust the size as needed
        height: auto; // Adjust the size as needed
        margin-right: 1em; // Space between image and text
      }
    
      .trackInfo {
        text-align: left;
        p{
          font-size: large;
          font-family: sans-serif;
          color: $background-color;
          margin-top: 1.5vh;
          margin-bottom: 1.5vh;
          font-style: bolder;
        }
      }
    }
    
  }
  .close{
    position:absolute;
    top: 2%;
    right: 2%;
  }

  

}

