@import "./variables.module.scss";
@import "./fonts.module.scss";

.title {
  color: $text-color;
  text-align: center;
  font-family: "logo";
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding-top: 0px; 
  padding-bottom: 200px;
}


.container {
  background-color: white ;
  color: $text-color;
  font-family: serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    color: black;
    text-align: center;
    font-family: $primary-cursive;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  .main_message{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 64px;
    font-weight: 400;
    word-wrap: break-word;
    width: 37.5%;
    text-align: center;
  }

  .description{
    font-family: 'Hanken Grotesk', serif;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    word-wrap: break-word;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
  }


}


/* CSS for login button*/
.spotify_login_button {
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk';
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .title {
    font-size: 6.5rem;
    color: $text-color;
    font-weight: $title-weight;
    text-align: center;
    margin-bottom: 30px;
  }
  .spotify_login_button {
    margin-top: 30px;
    font-size: 1.8rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container {
    margin-bottom: 0px;
    margin-top: -4rem;
    height: 100vh;
    .title span {
      font-size: 4rem;
      font-family: $primary-font;
      font-weight: $title-weight;
      text-align: center;
      margin-left: 0rem;
      margin-right: 0rem;
      margin-top: -4rem;
      padding-top: -2rem;
    }
    .summary {
      color: white;
      font-size: 1.5rem;
    }
    .spotify_login_button {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .marquee{
      width:75%;
    }
  }
}
@media only screen and (min-device-width: 1400px) {
  .title span {
    font-size: 10rem;
  }
}
