$color-primary: rgb(0, 218, 7);
$color-shadow: #ffffff;
$color-background: rgb(25, 20, 20);
$button-color: rgb(214, 214, 214);
$primary-font: "Calibri";
$primary-cursive: "Calibri", cursive;
$title-weight: 800;
$title-size-large: 600%;

.title {
  margin-top: 0%;
  color: $color-primary;
  font-weight: $title-weight; // Corrected to use $title-weight
  font-size: $title-size-large;
  font-family: $primary-cursive; // Corrected to use $primary-font
  animation: titleFadeInFromLeft 2s ease-out forwards;
  text-align: center; /* Horizontally centers the text */
  justify-content: center; /* Horizontally centers the container's content */
  margin-bottom: 10px; /* Reduce the bottom margin */
  animation: titleFadeInFromLeft 2s ease-out forwards;
}

@keyframes titleFadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.container {
  background-color: $color-background;
  font-family: $primary-font;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary {
  color: white;
  font-size: 250%;
  width: 75%;
  text-align: center; /* Horizontally centers the text */
  display: flex;
  justify-content: center; /* Horizontally centers the container's content */
  align-items: center; /* Vertically centers the container's content */
  margin-bottom: 10px; /* Reduce the bottom margin */
  padding-bottom: 10px; /* Reduce the bottom padding */
}

.game_button {
  appearance: none;
  background-color: $button-color;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 20px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 400%;
  font-weight: 600;
  line-height: 20px;
  margin-top: 30px;
  padding: 20px 20px 30px 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.5s ease; /* Add this line */
}

.game_button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
  color: rgb(0, 0, 0);
}

.game_button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.game_button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.game_button:disabled {
  background-color: $color-primary;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgb(0, 0, 0);
  cursor: default;
}

.game_button:active {
  background-color: $color-primary;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
  color: rgb(64, 64, 64);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .summary {
    width: 100%;
    margin-left: 80%;
    margin-right: 80%;
  }
}