@import "./variables.module";

.container {
  background-color: $background-color;
  font-family: sans-serif;
  color: $text-color;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  p{
    font-size: x-large;
  }

  .button_controller{
    margin-top: 5%;
    width: 75%;
    height: 60%;

    .option_button{
      
      width: 50%;
      height: 50%;
      border-radius: 4%;
      font-size: larger;
      transition: transform 0.3s ease, background-color 0.3s ease;
      background-color: $text-color;
      
    }

    .option_button:hover { 
      transform: scale(0.99); 
      background-color: #D7AC40;
      cursor: pointer;
    }
  }

  


  
}



